[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group neutron-qe
[access "refs/for/refs/*"]
	read = group neutron-qe
	read = group user/Toni Freger (tfreger)
	label-Code-Review = -2..+2 group neutron-qe
	label-Verified = -1..+1 group neutron-qe
	rebase = group neutron-qe
	removeReviewer = group user/Toni Freger (tfreger)
	submit = group user/Toni Freger (tfreger)
[access "refs/heads/*"]
	read = group user/Toni Freger (tfreger)
	create = group user/Toni Freger (tfreger)
	push = +force group user/Toni Freger (tfreger)
	pushMerge = group user/Toni Freger (tfreger)
[access "refs/tags/*"]
	push = +force group user/Toni Freger (tfreger)
	pushTag = group user/Toni Freger (tfreger)
	pushSignedTag = group user/Toni Freger (tfreger)
[project]
	description = The repository contains temporary Tempest based tests which cover Neutron component.
