[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Toni Freger (tfreger)
[access "refs/for/refs/*"]
	read = group user/Gena (genadic)
	read = group user/Itzik Brown (itzikb-redhat)
	read = group user/Toni Freger (tfreger)
	push = group user/Gena (genadic)
	push = group user/Itzik Brown (itzikb-redhat)
	push = group user/Toni Freger (tfreger)
	label-Code-Review = -2..+2 group user/Gena (genadic)
	label-Code-Review = -2..+2 group user/Itzik Brown (itzikb-redhat)
	label-Code-Review = -2..+2 group user/Toni Freger (tfreger)
	label-Verified = -1..+1 group user/Gena (genadic)
	label-Verified = -1..+1 group user/Itzik Brown (itzikb-redhat)
	label-Verified = -1..+1 group user/Toni Freger (tfreger)
	rebase = group user/Gena (genadic)
	rebase = group user/Itzik Brown (itzikb-redhat)
	rebase = group user/Toni Freger (tfreger)
	removeReviewer = group user/Toni Freger (tfreger)
	submit = group user/Toni Freger (tfreger)
	exclusiveGroupPermissions = label-Code-Review label-Verified
[access "refs/heads/*"]
	read = group user/Toni Freger (tfreger)
	create = group user/Toni Freger (tfreger)
	push = +force group user/Toni Freger (tfreger)
	pushMerge = group user/Toni Freger (tfreger)
[access "refs/tags/*"]
	push = +force group user/Toni Freger (tfreger)
	pushTag = group user/Toni Freger (tfreger)
	pushSignedTag = group user/Toni Freger (tfreger)
[project]
	description = The repository contains temporary Tempest based tests which cover Neutron component.
